
<%- include partials/header -%>

<%- include partials/navbar -%>   

<!-- About Me -->
<div id="about-me">
    <h1 class="font-weight-normal about-me-header">Dhairya Brahmbhatt</h1>
    <div class="header-picture-container text-center">
        <img class="header-portfolio-picture border-0" src="images/picture.png" />
    </div>
    <p class="pt-4 pb-3 mt-3 lead font-weight-normal about-me">
        Inquisitive, energetic computer science specialist skilled in leadership with a strong foundation in
        math, logic, and cross-platform coding..<br><br>

      Below you can find my resume
    </p>

    <a href="/images/resume.pdf" target="_blank">
        <p class="lead font-weight-normal blue-button"><span>My Resume</span></p>
    </a>

</div>

<%- include partials/footer -%>
