
<%- include partials/header -%>

<%- include partials/navbar -%>   


<!-- Homepage -->
    <div class="header overflow-hidden px-1 my-md-1" id="header">
        <div class="row">
            <div rowspan=2 class="header-picture-container col-5">
              <img class="header-portfolio-picture border-0" src="images/picture.png" />
            </div>

            <div class="header-description-container col-7">
              <h1 class="display-4 font-weight-normal header-name">Hi I'm Dhairya!</h1>
              <p class="lead font-weight-normal header-tagline"><span>A Computer Science Major currently pursuing Software Engineering</span></p>
              <a href="/about-me"><p class="lead font-weight-normal header-button"><span>Know more about me!</span></p></a>
            </div>
        </div>
    </div>

  <%- include partials/footer -%>
