

<%- include partials/header -%>

<%- include partials/navbar -%>   

<!-- Projects-->

<div id="projects" class="py-3">
      <h1 class="font-weight-normal project-heading">Personal Projects</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6"><a target=”_blank” href="https://github.com/itsdhairya/arduino">
            <div class="card mb-1 shadow-sm">
              <div class="card-header">Hand Gesture Controlled Robotic Arm</div>
              <img class="portfolio-img" src="images/arduino.png" />
              <div class="card-body">
                <p class="card-text">A tool to remove the error of a shakey human hand</p>
                <small class="text-muted project-label">C#, RaspberryPie, Lego Pieces</small>
              </div>
            </div></a>
          </div>

          <div class="col-md-6"><a target=”_blank” href="https://github.com/itsdhairya/Al-Personal-Assistant">
            <div class="card mb-1 shadow-sm">
              <div class="card-header">My Personal AI</div>
              <img class="portfolio-img" src="images/AI.png" />
              <div class="card-body">
                <p class="card-text">A small code using Python made to use as my personal AI</p>
                <small class="text-muted project-label">Python</small>
              </div>
            </div></a>
          </div>

          <div class="col-md-6"><a target=”_blank” href="https://github.com/itsdhairya/Personal-Website">
            <div class="card mb-1 shadow-sm">
              <div class="card-header">My Personal Website</div>
              <img class="portfolio-img" src="images/website.png" />
              <div class="card-body">
                <p class="card-text">My personal website (in one page).</p>
                <small class="text-muted project-label">HTML // CSS //Tailwind // React </small>
              </div>
            </div></a>
          </div>

        </div>
      </div>
</div>

<%- include partials/footer -%>