
<%- include partials/header -%>

<%- include partials/navbar -%>   

<!-- Services -->

<div id="services">
    <h1 class="font-weight-normal about-me-hello">Services</h1>
    <p class="pt-4 pb-3 mt-3 lead font-weight-normal about-me">
      I can help with tasks including data analysis, desktop development, and web programming.
    The languages and tools I have used frequently in my projects are listed below.
    </p>

    <!-- Table with Languages & Tools -->
    <div class="languages-container">
      <h3>Languages and Tools</h3>
        <p>
          <table class="table-languages table table-hover table-sm table-dark">
            <tr>
              <td>Web Development</td>
              <td>
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" title="HTML5" alt="html5" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" title="CSS3" alt="css3" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" title="Javascript" alt="javascript" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" title="React.js" alt="react" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" title="Node.js" alt="nodejs" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"  title="Bootstrap" alt="bootstrap" width="40" height="40"/> 
              </td>
            </tr>
            <tr>
              <td>Data Analysis</td>
              <td>
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" title="Python" alt="python" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/2ae2a900d2f041da66e950e4d48052658d850630/icons/pandas/pandas-original.svg" title="Pandas" alt="pandas" width="40" height="40"/> 
                  <img src="https://seaborn.pydata.org/_images/logo-mark-lightbg.svg" title="seaborn" alt="Seaborn" width="40" height="40"/> 
              </td>
            </tr>
            <tr>
              <td>Desktop Development</td>
              <td>
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" title="C#" alt="csharp" width="40" height="40"/> 
              </td>
            </tr>
            <tr>
              <td>Database Development</td>
              <td>
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" title="MongoDB" alt="mongodb" width="40" height="40"/> 
                  <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" title="MS SQL" alt="mssql" width="40" height="40"/> 
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg" title="Oracle" alt="oracle" width="40" height="40"/> 
              </td>
            </tr>
          </table>
        </p>
    </div>
</div>

<%- include partials/footer -%>
